.o-announcements
{
    width: 100%;
}

.o-anc-post
{
    background-color: White;
    padding: 5px 0;
}

.o-anc-thumb
{
    height: 24px;
    width: 24px;
    float: left;
}

.o-anc-thumb img
{
    border: 0px;
    padding: 0 5px;
}

.o-anc-text
{   
    min-height: 24px;
    margin-left: 29px;
    float: inherit; 
}

.o-anc-text h3
{
    padding: 0 5px;
    margin: 0px;
    font-size: 11px;    
}

.o-anc-text p
{
    padding: 0 5px 5px 5px;
    margin: 0px;
    font-size: 11px;
}

.o-anc-text a:link, .o-anc-text a:visited, .o-anc-text a:hover, .o-anc-text a:active
{
    color: #000;
    text-decoration: none;
    outline: none;
}