.o-ud-filters
{
    padding: 10px;
}

.o-ud-filters span
{
    margin: 0px 5px;
}

.o-ud-users table tr td
{
    padding: 5px;
}

.o-ud-alternate
{
    background-color: #FFF;
}

.o-ud-heading
{
    background-color: #CCC;
    line-height: 20px;
    text-align: center;
    font-weight: bold;    
    padding: 0 5px;
}

.o-ud-thumbnail
{
    border: 0px;
    margin: 0px 3px;
}

.o-ud-thumbnail img
{
    border: 0px;
}

.o-ud-title, .o-ud-url
{
    padding: 0 5px;
}

.o-ud-number
{
    text-align: center;
}

.o-ud-new
{
    padding: 0 5px;
}

.o-ud-action
{
    text-align: center;
    min-width: 100px;
}

.o-ud-new img
{
    height: 14px;
    width: 14px;
    padding-right: 5px;
    margin-bottom: -2px;
}

.o-ud-datetime
{
    text-align: center;    
}
