{
	"presets": [
		[
			"env",
			{
				"targets": {
					"browsers": [
						"Chrome >= 52",
						"FireFox >= 44",
						"Safari >= 7",
						"Explorer 11",
						"last 4 Edge versions"
					]
				},
				"useBuiltIns": true
			}
		],
		"es2015",		
		"react",
		"stage-1",
		"stage-2"
	],
	"plugins": [
		"transform-decorators-legacy",
		"transform-class-properties",
		"syntax-class-properties",
		"transform-es2015-template-literals"
	]
}