.requestField { width: 100%; padding: 5px 5px; }
.requestLabel { font-weight: bold; }
.requestTextbox { width: 95%; display: block; }
.requestDropdownlist { width: 50%; }
.requestTextbox, .requestDropdownlist { clear: both; }
.requestButton { margin: 0px 5px; width: 100px; }

/* New Request page specific */
.requiredAsterisk { color: red; }

#div_dept { padding: 5px 5px; }
    #div_dept > div > div { display: inline-block; }
    #div_dept > label { display: block; }
#div_addDeptBox, #div_removeDeptBox { width: 38%; }
#div_addDeptBtn { vertical-align: middle; }

.addDeptBtn { margin: 5px 10px; width: 120px; }
.requestListbox { width: 100%; height: 150px; }

#div_confirm { text-align: center; }
.confirmMsg { color: red; }

/* Request page specific */
.sectionHeader { text-align: center; padding: 5px 0px; background-color: rgb(51,155,222); margin: 5px 0px; }
    .sectionHeader h3 { font-weight: bold; color: white; }

.requestMenu { width: 100%; }
.menuItem { }
.menuButton { width: 100%; border: none; background-color: rgb(51,155,222); font-weight: bold; color: white; margin-left: 0px !important; }
    .menuButton:hover { background-color: darkblue; }




/* Global specific */
.clear { clear: both; height: 1px; }
#div_request { width: 650px; border-width: 1px; margin: 5px 0px 0px 5px; }
#div_menu { height: 400px; }
#div_buttons { text-align: right; margin: 5px 5px; }
.requestHeader { padding: 10px 5px; font-weight: bold; text-align: center; text-decoration: underline; }

h2, input, select, label, textarea, button, option { font-family: Arial, Helvetica; }

/* TEMP */
.temp { }

#div_displayCore { overflow: scroll; overflow-y: scroll; overflow-x: hidden; height: 300px; }
#tbl_displayCore td { padding: 5px 5px; }
#div_rootSupportDoc { padding-bottom: 10px; }
#div_requestDocLinks { overflow: scroll; overflow-y: scroll; overflow-x: hidden; height: 200px; }
.requestNotes { width: 95%; }
#div_notesHistory { overflow: scroll; overflow-y: scroll; overflow-x: hidden; height: 200px; }

/* TAB/MENU STYLING */
.ui-state-active a { background-color: blue !important; color: white !important; font-weight: bold; }
.div_tab { padding: 0px 0px !important; }





.div_spinner { top: 0px; left: 0px; position: fixed; height: 100%; width: 100%; background-color: #F5F3EB; opacity: 0.8; }
.loader { margin-left: 250px; margin-top: 450px; }
